[package]
name = "meme_generator_server"
description = "Server for meme_generator"
version.workspace = true
authors.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true
edition.workspace = true

[dependencies]
axum = "0.7"
base64 = "0.22"
infer = "0.16"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
tokio = { version = "1.42", features = ["full"] }

meme_generator = { path = "../meme_generator" }

[[bin]]
name = "server"
path = "src/main.rs"
